// Imports

@import "_vars";
@import "_fonts";
@import "_typography";
@import "_button";
@import "_menu";
@import "_form";
@import "_cards";
@import "_gallery";      
@import "_popup";        

html {
	font-size: (@basicFontSize/@desktop_orient)*100vw;

	@media screen and (max-width: @laptopWidth) {
		font-size:  (@basicFontSize/@laptop_orient)*100vw;
	}

	@media screen and (max-width: @mobileWidth) {
		font-size:  (@basicFontSize/@mobile_orient)*100vw;
	} 
}

*,
*:before,  
*:after {
	box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6,ol,ul,li {  
	margin: 0;
	padding: 0;  
}

body {
	position: relative;
	font-family: 'Raleway', sans-serif;
	background-color: @main_bg_color;
	color: @primary_text_color;
	padding: 0;
	margin: 0; 
}
 
section, header, footer {   
	position: relative;  
	z-index: 1;   
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: @desktop_container/@desktop_orient*100%;
	@media screen and (max-width:@laptopWidth) {
		width: @laptop_container/@laptop_orient*100%;
	} 
	@media screen and (max-width:@mobileWidth) {
		width: @mobile_container/@mobile_orient*100%;
	}
}

.header {
	background-color: @sub_bg_color;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    &__wrapper {
    	display: flex;                         
    	align-items: center; 
    }
    &__logo {
    	width: 11.8rem;
    	height: 4.7rem;
    	margin-top: 0.3rem;
		margin-left: 0.5rem;
		margin-bottom: 0.3rem;
		@media screen and (max-width:@laptopWidth) {
			margin-bottom: 0;
		}
    }
    &__menu {
    	flex-grow: 1;  
    }
}

.logo {
	width: 11.8rem;
	@media screen and (max-width:@mobileWidth) {
		width: 10.8rem;
	}
	&__link {
    	display: block;
		width: 100%;
		height: 100%;
	}
	&__image {
		max-width: 100%;
		height: auto;
	}
}

.promo {
	background-color: @card_bg_color;
	background-image: url(../img/promo-bg-lg.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    padding: 18.5rem 0 31.2rem 0;
    @media screen and (max-width:@laptopWidth) {
		padding-top: 5.2rem;
		padding-bottom: 15.2rem;
		background-image: url(../img/promo-bg-md.jpg);
		background-size: contain;
	    background-position-y: 5rem;
	}
	@media screen and (max-width:@mobileWidth) {
		padding-bottom: 21.6rem;
    	background-size: 100% 90%;
	}
    &__wrapper {
    	display: flex;
   		justify-content: space-between;
   		@media screen and (max-width:@laptopWidth) {
			flex-direction: column;
			align-items: center; 
			text-align: center;
		}
    }
    &__container {
    	margin-top: 3.5rem;  
    	margin-left: 0.5rem;
    	@media screen and (max-width:@mobileWidth) {
    		margin-left: 0;
    		margin-top: 8.6rem;
    	}
    }
    &__title {
    	margin: 0.6rem 0.5rem 1.7rem;
    	@media screen and (max-width:@mobileWidth) {
    		margin-bottom: 0.8rem;
    	}
    }
    &__form {
    	margin-right: 11.7rem;
    	@media screen and (max-width:@laptopWidth) {
			margin: 0;
			margin-top: 5.5rem;
		}
		@media screen and (max-width:@mobileWidth) {
			display: none;
		}
    }
}

.advantages {
	margin-top: -11.1rem;
	z-index: 2;
	@media screen and (max-width:@laptopWidth) {
		margin-top: -8.3rem;
	}
	@media screen and (max-width:@mobileWidth) {
		margin-top: -10rem;
	}
	&__list {
		letter-spacing: normal;
		display: flex;
	    width: 76%;
	    margin: 0 auto;
	    padding: 0;
	    justify-content: space-around;
	    @media screen and (max-width:@laptopWidth) {
			width: 100%;
			justify-content: space-between;
		}
		@media screen and (max-width:@mobileWidth) {
			flex-direction: column;
    		align-items: center;
		}
	}
	&__item {
		@media screen and (max-width:@mobileWidth) {
		    margin-bottom: 2.5rem;
		}
	}
}
  
.services {
	margin-top: -11.1rem; 
	padding-top: 16rem; 
	padding-bottom: 4.9rem;
	background-image: url(../img/services-bg.svg);
	background-repeat: no-repeat;
	background-position: 0 2.1rem;  
	background-size: 29.5%;
	overflow: hidden;
	@media screen and (max-width:@laptopWidth) {
		padding-top: 18.8rem;
		padding-bottom: 5.3rem;
		background-image: url(../img/services-bg-md.svg);
    	background-position: right 105%;
	}   
	@media screen and (max-width:@mobileWidth) {
	    padding-top: 9rem;
	    padding-bottom: 4rem;
	    background-image: none;
	}
	&__title {
		margin-bottom: 0;  
		padding-top: 11rem;
		@media screen and (max-width:@laptopWidth) {
			padding-top: 5rem;
		}
		@media screen and (max-width:@mobileWidth) {
			padding-top: 5.5rem;
		}
	}
	&__list {
		padding: 0;
		margin: 0;
		display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
    	margin-left: -1.4rem; 
    	margin-right: -1.4rem;
    	@media screen and (max-width:@laptopWidth) {
			margin-left: -2rem; 
    		margin-right: -2rem;
    		margin-top: 0.5rem; 
    		justify-content: flex-start;
		}
		@media screen and (max-width:@mobileWidth) {
		    margin-top: 2.5rem;
		    justify-content: center;
		}
	} 
	&__item { 
		margin-top: 4.6rem;
		margin-left: 1.3rem;
		margin-right: 1.3rem;  
		@media screen and (max-width:@laptopWidth) {
			margin-left: 2rem; 
    		margin-right: 2rem;
    		margin-top: 2.6rem;
		} 
		@media screen and (max-width:@mobileWidth) {
		    margin-bottom: 1.7rem;
    		margin-top: 0;
		}
	}
	&__button {
		text-shadow: none;
	}
}

.about {
	padding: 11rem 0 1.2rem; 
	@media screen and (max-width:@laptopWidth) {
		padding-top: 5rem;
	}

	&__wrapper {
		position: relative;
		width: 96%;
    	margin-right: 0.5rem;
    	margin-left: auto;
		background-image: url(../img/about-bg.png), radial-gradient(circle at 0% 37%, @main_bg_color 5.2rem, transparent 5.1rem, transparent 100%), linear-gradient(101.64deg, #26272D 0%, rgba(91, 87, 77, 0.93) 97.58%);
		background-repeat: no-repeat;
		background-position: 92% bottom;
    	background-size: contain;
		border-radius: 3rem;
		padding: 3.9rem 7.1rem 4.4rem;
		&:before {
			content: "";
			position: absolute;
	    	top: 37%;
		    left: 0;
		    transform: translate(-50%, -50%);
		    width: 8.2rem;
		    height: 8.2rem;
	    	background-image: url("../img/quotes-deco.png");
	    	background-repeat: no-repeat;
	    	background-size: 100%;
		}
		@media screen and (max-width:@laptopWidth) {
			width: 100%;
			padding-left: 4.6rem;
			padding-right: 3.3rem;
			padding-bottom: 7rem;
			background-image: url(../img/about-bg.png), linear-gradient(106.06deg, #26272D 14.14%, rgba(91, 87, 77, 0.93) 104.15%);
			background-size: 34% 77%, cover;
    		background-position: 92% 116%;
			&:before {
				display: none;
			}
		}
		@media screen and (max-width:@mobileWidth) {
			width: 97%;
			background-image: linear-gradient(106.06deg, #26272D 14.14%, rgba(91, 87, 77, 0.93) 104.15%);
			background-size: cover;
			padding: 2.6rem 1.0rem 3rem 1.7rem;
		} 
	}
	&__title {
		margin-bottom: 2.5rem;
		@media screen and (max-width:@mobileWidth) {
			text-align: center;
			margin-bottom: 3.2rem;
		}
	}
	&__content {
		padding: 0;
		width: 81%;
		margin-bottom: 1.5rem;
		&--nerrow {
			width: 70%;
		}
		@media screen and (max-width:@laptopWidth) {
			width: 100%;
			&--nerrow {
				width: 60%;
			}
		} 
		@media screen and (max-width:@laptopWidth) {
			line-height: 1.8rem;
			&--nerrow {
				width: 99%;
			}
		} 
	}
	&__contacts {
		display: flex;
		align-items: flex-start;
    	padding-top: 3.9rem;
    	@media screen and (max-width:@laptopWidth) {
			flex-direction: column;
		    align-items: center;
		    width: 41%;
		    text-align: center;
		    padding-top: 6.3rem;
		}
		@media screen and (max-width:@mobileWidth) {
			width: 100%;
			padding-top: 1.9rem;
		}
	}
	&__button {
		width: 19.2rem;
    	padding-top: 1.5rem;
    	box-shadow: none; 
    	@media screen and (max-width:@laptopWidth) {
			width: 100%;
    		margin-bottom: 2.7rem;
		}
		@media screen and (max-width:@mobileWidth) {
			width: 70%;
			margin-bottom: 1.7rem;
		}
	}
	&__contacts-wrapper {
		display: flex;
	    flex-direction: column;
	    align-self: flex-start;
	    margin-left: 2.8rem; 
	    @media screen and (max-width:@laptopWidth) {
			width: 100%;
    		margin-left: 0;
		}
	}
	&__sign {
		padding: 0;    
	}
}

.portfolio {
	padding: 11rem 0 0 0;
	@media screen and (max-width:@laptopWidth) {
		padding-top: 6.5rem;
	} 
	@media screen and (max-width:@mobileWidth) {
		padding-top: 5.5rem;
	}
	&__title {
		padding: 0.5rem 4rem;
	}
	&__works {
		padding: 5.1rem 0 5.0rem 0.7rem;
		@media screen and (max-width:@mobileWidth) {
			margin-top: 1.5rem; 
			margin-bottom: 0;
		}
	}

 }

.privileges {
	padding: 11rem 0;
	@media screen and (max-width:@laptopWidth) {
		padding: 5rem 0;
	}
	@media screen and (max-width:@mobileWidth) {
		padding: 5.5rem 0 2rem;
	}
	&__list {
		list-style: none;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    width: 99%;
    	margin: 0 auto;
    	@media screen and (max-width:@laptopWidth) {
			width: 100%;
			margin-top: 1.6rem;
		} 
	}
	&__card {
		margin-top: 3.6rem;
	}
}

.produce {
	padding: 4.4rem 0 9rem;
	@media screen and (max-width:@laptopWidth) {
		padding-bottom: 3rem;
	}
	@media screen and (max-width:@mobileWidth) {
		padding-top: 2.5rem;
	}
	&__raw {
		display: grid;
	    grid-template-columns: 41.1rem 1fr;
	    grid-auto-rows: 8rem 1fr;
	    grid-column-gap: 2.5rem;
	    grid-template-areas:
	        "image top"
	        "image bottom";
	    margin-top: 3.6rem;
	    margin-left: 0.3rem;
	    @media screen and (max-width:@laptopWidth) {
			grid-template-areas:
	        "top"
	        "image"
	        "bottom";
	        grid-template-columns: 1fr;
	        grid-template-rows: repeat(3,minmax(120px, min-content));
	        justify-items: center;
		    width: 100%;
		    margin: 0 auto;
		} 
		@media screen and (max-width:@mobileWidth) {
			display: flex;
		    flex-direction: column;
		    align-items: center;
		    width: 100%;
		}
	}
	&__top {
		grid-area: top;
		@media screen and (max-width:@laptopWidth) {
			padding-top: 3.3rem;
    		text-align: center;
    		width: 75%;
		}
		@media screen and (max-width:@mobileWidth) {
			width: 100%;
    		padding: 1rem 0 0 0;
		}
	}
	&__image-wrapper {
		grid-area: image;
		overflow: hidden;
		width: 100%;
		border-radius: 3rem;
		@media screen and (max-width:@laptopWidth) {
			height: 28.1rem;
			width: 76%;
		}
		@media screen and (max-width:@mobileWidth) {
			width: 97%;
		    height: 16.5rem;
		    border-radius: 1.5rem;
		}
	}
	&__bottom {
		grid-area: bottom;
		width: 95%;
    	margin-top: 1.3rem;
    	@media screen and (max-width:@laptopWidth) {
    		width: 100%;
    		margin-top: 3.6rem;
    		padding-left: 1.2rem;
    	}
    	@media screen and (max-width:@mobileWidth) {
    		margin-top: 2.1rem;
    		padding-left: 0;
    	}
	}

	&__content {
		span {
			display: block;
			padding: 0;
		}
	}
	&__list {
		grid-area: list;
		list-style: none;
		&--horizontal {
			display: flex;
			flex-wrap: wrap;
			padding: 0.3rem;
			@media screen and (max-width:@laptopWidth) {
				justify-content: center;
			    margin-top: 0.7rem;
			    margin-bottom: 2.7rem;
			    width: 99%;
			}
			@media screen and (max-width:@mobileWidth) {
				width: 100%;
			    padding: 0;
			    margin-bottom: 2.3rem;
			    justify-content: space-between;
			}
			li {
				display: flex;
				align-items: center;
				margin-right: 2.2rem;
				@media screen and (max-width:@laptopWidth) {
					margin: 0 1.8rem 0.5rem;
				}
				@media screen and (max-width:@mobileWidth) {
					margin: 0;
				}
			}
			& li:before {
				content: '';
				display: block;
				width: 1.5rem;
				height: 1.5rem;
				background-color: @buttons_bg_color;
				border-radius: 50%;	
				margin-right: 1rem;
				@media screen and (max-width:@mobileWidth) {
					margin-right: 0.7rem;
				}
			}

		}
		&--vertical {
			margin: 0.6rem;
    		margin-bottom: 0;
    		@media screen and (max-width:@laptopWidth) {
    			width: 59%;
    			margin: 0.7rem auto;
    		}
    		@media screen and (max-width:@mobileWidth) {
    			width: 100%;
    			margin-top: 1.4rem;
    			padding-left: 0.6rem;
    		}
    		
			li {
				display: flex;
				align-items: center;
				padding-bottom: 1rem;
				@media screen and (max-width:@mobileWidth) {
					padding-bottom: 1.6rem;
				}
				&:last-child {
					padding-bottom: 0;
				}
				p {
					@media screen and (max-width:@mobileWidth) {
						padding: 0;
					}
				}
			}
			& li:before {
				content: '';
				display: block;
				width: 2.2rem;
				height: 2.2rem;
				margin-right: 1rem;
				background-image: url('../img/check-icon-transparent.svg');
				background-size: contain;
				background-repeat: no-repeat;
				@media screen and (max-width:@mobileWidth) {
				    margin-right: 0.8rem;
				}
			}


		}
	}

	&__item--order1 {
		order: 1;
	}

	&__item--order2 {
		order: 2;
	}
	
	&__image {
		width: 100%;
		max-width: 100%;
		height: 100%;
		filter: drop-shadow(0px 1rem 3rem rgba(0, 0, 0, 0.25));
		object-fit: cover;
		@media screen and (max-width:@laptopWidth) {
			height: auto;
		}
	}
}

.workflow {
	padding: 6.5rem 0 4.3rem;
	@media screen and (max-width:@laptopWidth) {
		padding-top: 5.5rem;
	}
	@media screen and (max-width:@mobileWidth) {
		padding-top: 3rem;
		padding-bottom: 4.8rem;
	}
	&__title {
		@media screen and (max-width:@laptopWidth) {
			padding-right: 1.4rem;
		}
		@media screen and (max-width:@mobileWidth) {
			padding-right: 0;
		}
	}
	&__list {
		counter-reset: section;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
    	width: 90%;
    	margin: 0 auto;
    	margin-top: 3.7rem;
    	@media screen and (max-width:@laptopWidth) {
    		margin-top: 2.5rem;
    	}
    	@media screen and (max-width:@mobileWidth) {
    		width: 100%;
    		margin-top: 2rem;
    		display: grid;
			grid-template-columns: 16.2rem 16.2rem;
			grid-template-rows: 2.5rem min-content 2.5rem min-content 2.5rem min-content 2.5rem;
			gap: 0px 0px;
			grid-template-areas:
			  "first ."
			  "first second"
			  "third second"
			  "third fourth"
			  "fifth fourth"
			  "fifth sixth"
			  ". sixth";
    	}
	}

	&__item:nth-child(1) {
		grid-area: first;
	}
	&__item:nth-child(2) {
		grid-area: second;
	}
	&__item:nth-child(3) {
		grid-area: third;
	}
	&__item:nth-child(4) {
		grid-area: fourth;
	}
	&__item:nth-child(5) {
		grid-area: fifth;
	}
	&__item:nth-child(6) {
		grid-area: sixth;
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 19.2rem;
		background: @sub_bg_color;
		box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);
		border-radius: 2rem;
		padding: 1rem 3.2rem 1rem 0.6rem;
		&:nth-child(even) {
			background-color: @card_sub_bg_color;
			@media screen and (max-width:@mobileWidth) {
				background: @sub_bg_color;
			}
		}
		@media screen and (max-width:@laptopWidth) {
			padding: 1.3rem 1.1rem 1.6rem 1.1rem;
    		width: 18.6rem;
    		margin-bottom: 1.2rem;
		}
		@media screen and (max-width:@mobileWidth) {
			width: 16.3rem;
			margin-bottom: 0;
			min-height: 12rem;
			padding-right: 0.5rem;
			padding-bottom: 0.5rem;
		}
		&:nth-child(4n-1), &:nth-child(4n-2) {
			@media screen and (max-width:@mobileWidth) {
				background-color: @card_sub_bg_color;
			}
		}
	}
	&__item:nth-child(-n+9) &__header:before {
		content: "0" counter(section) ".";
	}
	&__item:last-child &__header:after{
		display: none;
	}
	&__header {
		padding: 0 0 0.3rem 0.3rem;
		@media screen and (max-width:@laptopWidth) {
			padding-bottom: 1.1rem;
		}
		@media screen and (max-width:@mobileWidth) {
			padding-bottom: 0.4rem;
		}
		&:before {
			margin-right: 0.4rem;
			content: counters(section,".");
			counter-increment: section;
			color: @buttons_bg_color;
		}
		&:after {
			content: url('../img/arrow-to-left.svg');
			position: absolute;
			top: 0.7rem;
    		right: 1rem;
    		@media screen and (max-width:@laptopWidth) {
    			top: 0.9rem;
    			right: 0.5rem;
    		}
		}
	}
	&__content {
		flex-grow: 1;
		display: flex;
    	align-items: center;
    	@media screen and (max-width:@mobileWidth) {
    		padding-top: 0.5rem;
    		padding-left: 0;
    	}   	    
	}
}


.contacts {
	padding: 11rem 0 1rem 0;
	@media screen and (max-width:@laptopWidth) {
		padding-top: 5rem;
		padding-bottom: 6rem;
	}
	@media screen and (max-width:@mobileWidth) {
		padding-bottom: 2.3rem;
	}
	&__wrapper {
		display: flex;
	    width: 82%;
	    padding: 4.3rem 0 1.3rem;
	    margin: 0 auto;
	    align-items: flex-start;   
	    @media screen and (max-width:@laptopWidth) {
			flex-direction: column;
    		width: 100%;
    		align-items: center;
    		padding-top: 1rem;
		}
	}

	&__list {
		flex-grow: 1;
	    list-style: none;
	    display: flex;
	    flex-wrap: wrap;
	    @media screen and (max-width:@laptopWidth) {
	    	width: 90%;
    		margin-left: auto;
	    }
	    @media screen and (max-width:@mobileWidth) {
	    	width: 100%;
	    	text-align: center;

	    }
	} 

	

	&__item {
		width: 50%;
		margin-bottom: 3.5rem;
		@media screen and (max-width:@laptopWidth) {
			width: 47%;
		    margin-left: 1.8rem;
		    margin-bottom: 2.2rem;
		}
		@media screen and (max-width:@mobileWidth) {
			width: 100%;
			margin: 0;
			display: flex;
		    flex-direction: column;
		    align-items: center;
		    margin-bottom: 1.3rem;
		}
		&>* {
			padding: 0;
		}
	}
	&__form {
		min-width: 41.3rem;	
		padding: 1.8rem 3.0rem 0.5rem;
		@media screen and (max-width:@laptopWidth) {
			margin-top: 0.7rem;
			padding-bottom: 3.4rem; 
    		width: 55.5rem;
		}
		@media screen and (max-width:@mobileWidth) {
			min-width: 32.8rem;
    		width: 32.8rem;
    		margin-top: 1.3rem;
		}
	}
}

.contact {
	&__title {
		padding: 2.4rem 0 2.4rem 3.7rem;
		position: relative;
		&:before {
			content: '';
			position: absolute;
		    top: 50%;
		    left: 0;
		    transform: translateY(-50%);
			display: block;
			width: 3rem;
			height: 3rem;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}
		@media screen and (max-width:@mobileWidth) {
			font-size: 2.5rem;
			padding-top: 1.1rem;
		    padding-bottom: 1.1rem;
		    margin-bottom: 0.9rem;
		}
	}
	&__info {
		margin-bottom: 1.4rem;
	}
	&__social {  
		margin-top: -0.5rem;
		margin-left: 1.2rem;
	}
	&--phone &__title:before{
		background-image: url(../img/icon-phone.svg);
	}
	&--mail &__title:before{
		background-image: url(../img/icon-email.svg);
	}
	&--social &__title:before{
		background-image: url(../img/icon-social.svg);
	}
	&--time &__title:before{
		background-image: url(../img/icon-time.svg);
	}
	&__info,
	&__title,
	&__phone,
	&__mail {
		@media screen and (max-width:@mobileWidth) {
			font-size: 2.5rem;
		}
	}
	&--social {
		@media screen and (max-width:@mobileWidth) {
			order: 1;
    		margin-top: -1.1rem;
		}
	}

}

.social {
	&__list {
		display: flex;
	    list-style: none;
	    font-size: 0;
	}
	&__item {
		margin: 0;
		width: 4rem;
		height: 4rem;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		margin-right: 1.8rem; 
		font-size: 0;

	}
	&__link {
		width: 75%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: left;
		background-size: contain;
		&--inst {
			background-image: url(../img/icon-in.svg);
		}
		&--fb {
			background-image: url(../img/icon-fb.svg);
		}
		&--yt {
			width: 100%;
			background-image: url(../img/icon-yt.svg);
		}
	}
}


.footer {
	padding: 1.3rem 1.7rem;
	background: @sub_bg_color;
	@media screen and (max-width:@laptopWidth) {
		padding: 0.5rem 0;
	}
	@media screen and (max-width:@mobileWidth) {
		padding: 0;
	}
	&__copy {
		text-align: right;
		@media screen and (max-width:@laptopWidth) {
			width: 36%;
		    margin-left: auto;
		    text-align: left;
		}
		@media screen and (max-width:@mobileWidth) {
			width: 75%;
		    text-align: right;
		    font-size: 1.3rem;
		    line-height: 1.4rem;
		}
	}
}