// Цвета
$main_text_color: #24333e;
$description_color: #1a303f;
$date_color: #35576e;
$title_color: #f5f7f7;
$main_title: #f7efed;
$block_1_bg: #e1e8eb;
$side_1_bg: #1a5076;
$block_2_bg: #dce5ea;
$side_2_bg: #4f80a2;
$block_3_bg: #e7edec;
$side_3_bg: #96b3b0;
$block_4_bg: #edede7;
$side_4_bg: #bfb28f;
$skill_1_full: #335f7a;
$skill_1_empty: #a6bac3;
$skill_2_full: #9cb3ab;
$skill_2_empty: #cad5cf;
$skill_3_full: #bfb28f;
$skill_3_empty: #d9d3c0;