// Сторонние файлы
@import "_reset";
@import "_fonts";
@import "_colors";
@import "_mixins";

// Стили
body {
	font-family: "OpenSans";
	color: $main_text_color;
	font-size: 62.5%;
	background-color: $title_color;
}
.container {
	width: 100%;
	max-width: 2550px;
	position: relative;
}		
.page-header {
	background-color: #000;
	@include column(center);
	align-items: center;
	.container {
		@include column(center);
		align-items: center;
	}
	.main-nav {
		width: 100%;
		@include row(center);
	}
	.nav-list {
		width: 80%;
		@include row(space-around);
		align-items: stretch;
		flex-wrap: wrap;
	}
	.nav-item {
		width: 32%;
		background-color: #fff;
		border-radius: 5px;
		margin: 25px 0 25px 0;
	}
	.nav-link {
		color: $main_text_color;
		@include font ("OpenSans", 20px, 300, none, none);
		display: block;
		padding: 25px 10px 25px 10px;
		&:hover {
			background-color: $block_2_bg;
			box-shadow: 0 0 2px 2px #000 inset;
			cursor: pointer;
			transition: 0.3s all linear;
		}
	}
	
}
.profile {
	overflow: hidden;
	@include column(center);
	align-items: center;
	border-bottom: 2px solid $side_1_bg;
	background-image: 
	    linear-gradient(to right, $side_1_bg 50%, $block_1_bg 50%);
	.container {
		@include row(center);
	}
	.main-title {
		position: absolute;
		right: -6%;
	    top: 90px;
	    width: 378/2050*100vw;
		max-height: 186px;
		height: 186/2050*100vw;
		background-color: $side_1_bg;
		@include font ("OpenSans", 60/2050*100vw, 400, uppercase, none);
		color: $main_title;
		@include row(center);
		align-items: center;
		padding-left: 93px;
		padding-right: 60px;
		margin-left: 5px;
		transform: rotate(-90deg);
		&::before {
			content: "";
		    border: 93px solid #e1e8eb;
		    border-right: none;
		    border-top-color: transparent;
		    border-bottom-color: transparent;
		    width: 0;
		    height: 0;
		    z-index: 1;
		    position: absolute;
		    left: -1px;  
		}
	}
	.profile-title {
		width: 19.61%;
		@include side_title ($side_1_bg);
		padding: 0 0 72px 3.7%;
		background-image: url("../img/info.png");
		background-position: 89px 118px;
		background-size: 82%;
	}
	.profile-info {
		width: 80.39%;
		background-color: $block_1_bg;
		@include column(center);
		align-items: center;
		padding: 90px 0 63px 0;
	}
	.main-info {
		@include row(flex-start);
		width: 83%;
		padding: 25px 0 35px 0;
		border-bottom: 2px solid rgba(92,139,172,0.2);
	}
	.my-photo {
		width: 374/(2050*0.82)*100%;
		height: 100%;
		padding: 10px 50px 0 10px;
	}
	.wrapper {
		width: 59%;
	}
	.name {
		@include font ("OpenSans", 110/2550*100vw, 300, none, none);
		padding: 2% 10px 15px 17px;
	}
	.first-name {
		@include font ("OpenSans-SemiBold", 110/2550*100vw, 400, none, none);
		line-height: 1.26%;
	}
	.position {
		@include font ("OpenSans", 80/2550*100vw, 300, uppercase, none);
		opacity: 0.5;
		padding: 13px 10px 15px 17px;
	}
	.contacts {
		font-size: 0;
		padding-top: 2%;
	}
	.email,
	.phone {
		display: inline-block;
		color: $main_text_color;
		@include font ("OpenSans", 40px, 400, none, none);
		line-height: 69px;
		margin: 10px 10px 10px 90px;
		position: relative;
		@media screen and (max-width: 2100px) {
			display: block;
		}
		@media screen and (max-width: 1400px) {
			font-size: 30px;
		}
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 16px;
    		left: -70px;
			width: 50px;
			height: 50px;
			background-image: url("../img/contact_sprite.png");
			background-repeat: no-repeat;
		}
	}
	.email::before {
		background-position: 0px 4px;;
	}
	.phone::before {
		background-position: -496px 7px;;
	}
	.social-info {
		width: 83%;
		@include row(space-between);
		flex-wrap: wrap;
		align-items: center;
		border-bottom: 2px solid rgba(92,139,172,0.2);
		padding: 12px 0 12px 0;
	}
	.social-title {
		@include font ("OpenSans", 45px, 400, none, none);
		margin-right: 10px;
	}
	.social {
		color: $main_text_color;
		@include font ("OpenSans", 30px, 300, none, none);
		padding: 30px 10px 30px 110px;
		position: relative;
		&:hover {
			text-decoration: underline;
		}
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 10px;
    		left: 0px;
			width: 75px;
			height: 75px;
			background-image: url("../img/social_sprite.png");
			background-repeat: no-repeat;
			&:hover {

			}
		}
	}
	// .fb::before {
	// 	background-position: 0 0;
	// }
	// .vk::before {
	// 	background-position: 0 0;
	// }
	// .li::before {
	// 	background-position: 0 0;
	// }
}
.experience {
	overflow: hidden;
	@include column(center);
	align-items: center;
	border-bottom: 2px solid $side_2_bg;
	background-image: 
	    linear-gradient(to right, $side_2_bg 50%, $block_2_bg 50%);
	.container {
		@include row(center);
	}
	.experience-title {
		width: 19.61%;
		@include side_title ($side_2_bg);
		padding: 0 0 72px 3.7%;
		background-image: url("../img/experience.png");
		background-position: 89px 118px;
		background-size: 82%;
	}
	.experience-list {
		width: 80.39%;
		background-color: $block_2_bg;
		@include column(flex-start);
		padding-bottom: 45px;
	}
	.experience-item {
		@include row(spase-between);
	}
	.position-block {
		box-sizing: border-box;
		@include column(flex-start);
		width: 40%;
		padding: 30px 10px 15px 8.85%;
	}
	.position-name,
	.company-name {
		@include font ("OpenSans", 45px, 400, none, none);
		line-height: 69px;
		padding: 33px 0 0 0;
	}
	.position-period {
		color: $date_color;
		@include font ("OpenSans", 30px, 300, none, none);
		line-height: 60px;
	}
	.company-block {
		box-sizing: border-box;
		@include column(flex-start);
		width: 60%;
		padding: 30px 8% 15px 5%;
	}
	.company-description {
		color: $description_color;
		@include font ("OpenSans", 30px, 300, none, none);
		line-height: 50px;
	}
}
.education {
	overflow: hidden;
	@include column(center);
	align-items: center;
	border-bottom: 2px solid $side_3_bg;
	background-image: 
	    linear-gradient(to right, $side_3_bg 50%, $block_2_bg 50%);
	.container {
		@include row(center);
	}
	.education-title {
		width: 19.61%;
		@include side_title ($side_3_bg);
		padding: 0 0 72px 3.7%;
		background-image: url("../img/my_education.png");
		background-position: 89px 118px;
		background-size: 82%;
	}
	.education-list {
		width: 80.39%;
		background-color: $block_3_bg;
		@include column(flex-start);
		padding-bottom: 45px;
	}
	.education-item {
		@include row(spase-between);
	}
	.course-block {
		box-sizing: border-box;
		@include column(flex-start);
		width: 40%;
		padding: 30px 10px 15px 8.85%;
	}
	.course-name,
	.university-name {
		@include font ("OpenSans", 45px, 400, none, none);
		line-height: 69px;
		padding: 33px 0 0 0;
	}
	.course-period {
		color: $date_color;
		@include font ("OpenSans", 30px, 300, none, none);
		line-height: 60px;
	}
	.university-block {
		box-sizing: border-box;
		@include column(flex-start);
		width: 60%;
		padding: 30px 8% 15px 5%;
	}
	.university-description {
		color: $description_color;
		@include font ("OpenSans", 30px, 300, none, none);
		line-height: 50px;
	}
}
.skills {
	overflow: hidden;
	@include column(center);
	align-items: center;
	border-bottom: 2px solid $side_4_bg;
	background-image: 
	    linear-gradient(to right, $side_4_bg 50%, $block_2_bg 50%);
	.container {
		@include row(center);
	}
	.skills-title {
		width: 19.61%;
		@include side_title ($side_4_bg);
		padding: 0 0 72px 3.7%;
		background-image: url("../img/my_skills.png");
		background-position: 89px 118px;
		background-size: 82%;
	}
	.skills-list {
		width: 80.39%;
		background-color: $block_4_bg;
		@include row(space-between);
		flex-wrap: wrap;
		padding: 48px 0 160px 0;
	}
	.skills-item {
		width: 50%;
		@include row(space-between);
		align-items: center;
		box-sizing: border-box;
		padding: 5px 1% 11px 8.7%;
	}
	.skills-item:nth-of-type(even) {
		flex-direction: row-reverse;
		padding: 5px 8.7% 11px 1%;
		.description-block {
			align-items: flex-end;
		}
	}
	.description-block {
		@include column(flex-start);
		width: 53%;
	}
	.description-block:nth-of-type(even) {
		align-items: flex-end;

	}
	.skill-name{
		@include font ("OpenSans", 45px, 300, none, none);
		line-height: 69px;
	}
	.slill-mark {
		@include font ("OpenSans-LightItalic", 28px, 300, none, none);
		line-height: 40px;
		font-style: italic;
	}
	.scale-block {
		position: relative;
		height: 46px;
		width: 60%;
		background-color: $skill_1_empty;
		.scale-fill {
			position: absolute;
			height: 46px;
			width: 100%;
			background-color: $skill_1_full;
		}
	}
	.skill-1 {
		background-color: $skill_1_empty;
		.scale-fill {
			width: 100%;
			background-color: $skill_1_full;
		}
	}
	.skill-2 {
		background-color: $skill_1_empty;
		.scale-fill {
			width: 100%;
			background-color: $skill_1_full;
		}
	}
	.skill-3 {
		background-color: $skill_2_empty;
		.scale-fill {
			width: 80%;
			background-color: $skill_2_full;
		}
	}
	.skill-4 {
		background-color: $skill_2_empty;
		.scale-fill {
			width: 90%;
			background-color: $skill_2_full;
		}
	}
	.skill-5 {
		background-color: $skill_3_empty;
		.scale-fill {
			width: 60%;
			background-color: $skill_3_full;
		}
	}
	.skill-6 {
		background-color: $skill_3_empty;
		.scale-fill {
			width: 60%;
			background-color: $skill_3_full;
		}
	}
	.skill-7 {
		background-color: $skill_1_empty;
		.scale-fill {
			width: 100%;
			background-color: $skill_1_full;
		}
	}
	.skill-8 {
		background-color: $skill_1_empty;
		.scale-fill {
			width: 90%;
			background-color: $skill_1_full;
		}
	}
	.skill-9 {
		background-color: $skill_2_empty;
		.scale-fill {
			width: 80%;
			background-color: $skill_2_full;
		}
	}
	.skill-10 {
		background-color: $skill_2_empty;
		.scale-fill {
			width: 60%;
			background-color: $skill_2_full;
		}
	}
}

@media screen and (max-width: 1790px) {
	.profile {
		.main-title {
			max-height: 146px;
			height: 146/2050*100vw;
			font-size: 40px;
		}
		.my-photo {
			width: 220px;
			padding-right: 35px;
		}
		.name {
			font-size: 45px;
		}
		.first-name {
			font-size: 45px;;
		}
		.position {
			font-size: 35px;
		}
		.email,
		.phone {
			font-size: 25px;
		}
		.social-title {
			font-size: 20px;
		}
		.social {
			font-size: 20px;
			padding-left: 50px;
			&::before {
				width: 50px;
			    height: 50px;
			    background-size: 1200%;
			    left: 0;
    			top: 20px;
			}
		}
		// .fb::before {
		// 	background-position: 0 0;
		// }
		// .vk::before {
		// 	background-position: 0 0;
		// }
		// .li::before {
		// 	background-position: 0 0;
		// }
	}
	.experience {
		.position-name,
		.company-name {
			font-size: 30px;
			line-height: 50px;
		}
		.position-period {
			font-size: 20px;
			line-height: 30px;
		}
		.company-description {
			font-size: 20px;
			line-height: 30px;
		}
	}
	.education {
		.course-name,
		.university-name {
			font-size: 30px;
			line-height: 50px;
		}
		.course-period {
			font-size: 20px;
			line-height: 30px;
		}
		.university-description {
			font-size: 20px;
			line-height: 30px;
		}
	}
	.skills {

		.skill-name {
			font-size: 30px;
			line-height: 49px;
		}
		.slill-mark {
			font-size: 18px;
			line-height: 29px;
		}
		.scale-block {
			height: 26px;
			.scale-fill {
				height: 26px;
			}
		}
	}
}
@media screen and (max-width: 1024px) {
	// пропорционально уменьшить размкры шрифта
}