@charset "UTF-8";
/* line 11, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
html {
  font-size: 100%;
}

@media screen and (max-width: 2000px) {
  /* line 11, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  html {
    font-size: 62.5%;
  }
}

@media screen and (max-width: 1024px) {
  /* line 11, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 768px) {
  /* line 11, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 560px) {
  /* line 11, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  html {
    font-size: 35%;
  }
}

/* line 26, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

/* line 31, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
header, section, article, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 39, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.header {
  min-height: 100vh;
  background-color: #06799f;
  color: #ffffff;
  padding-top: 30px;
  font-family: "Roboto Slab", serif;
}

/* line 45, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.header__container {
  width: 91.40625%;
  max-width: 1872px;
}

/* line 49, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

/* line 56, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.header__menu {
  width: 34%;
  margin: 20px 0px 5px 5px;
}

/* line 60, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.header__title {
  width: 50%;
  order: -1;
  margin: 0;
  font-size: 9.2rem;
  font-weight: 700;
}

/* line 67, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.header__description {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.2;
  padding: 10px 5px 10px 95px;
}

@media screen and (max-width: 1024px) {
  /* line 74, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  /* line 79, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .header__menu {
    width: 100%;
  }
  /* line 82, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .header__title {
    width: 100%;
    order: 0;
    margin: 5px;
  }
}

@media screen and (max-width: 768px) {
  /* line 89, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .header__description {
    font-size: 5rem;
  }
}

@media screen and (max-width: 560px) {
  /* line 39, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .header {
    padding-top: 20px;
  }
  /* line 95, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .header__menu {
    align-self: center;
    width: 100%;
    margin: 20px 0px 25px 5px;
  }
  /* line 100, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .header__title {
    width: 100%;
    font-size: 6rem;
    padding-bottom: 10px;
  }
  /* line 105, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .header__description {
    font-size: 4rem;
    margin: 0;
    padding: 10px;
  }
}

/* line 115, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.menu__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 124, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.menu__item {
  margin: 5px 0px 5px 15px;
  padding-bottom: 1px;
  border-bottom: 2px solid #ffffff;
}

/* line 128, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.menu__item:hover {
  color: #e6e6e6;
  border-bottom-color: transparent;
  border-top-color: transparent;
  transition: 0.3s all linear;
}

/* line 134, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.menu__item:active {
  color: black;
}

/* line 137, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.menu__item--active {
  border-bottom-color: transparent;
  border-top-color: transparent;
}

/* line 142, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.menu__link {
  color: inherit;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
}

/* line 149, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.menu__btn {
  display: none;
}

@media screen and (max-width: 560px) {
  /* line 153, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .menu__list {
    justify-content: center;
  }
  /* line 156, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .menu__link {
    color: inherit;
    font-size: 3.8rem;
  }
  /* line 161, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .menu--noscript .menu__list {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  /* line 166, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .menu--noscript .menu__item {
    width: 50%;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: 2px solid #ffffff;
  }
  /* line 171, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .menu--noscript .menu__item:hover {
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  /* line 175, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .menu--noscript .menu__item:active {
    color: black;
  }
  /* line 178, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .menu--noscript .menu__item--active {
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  /* line 184, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .menu--closed {
    width: 0;
    height: 0;
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    border: 0;
    padding: 0;
  }
  /* line 194, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .menu--opened .menu__list {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  /* line 199, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .menu--opened .menu__item {
    width: 50%;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: 2px solid #ffffff;
  }
  /* line 204, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .menu--opened .menu__item:hover {
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  /* line 208, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .menu--opened .menu__item:active {
    color: black;
  }
  /* line 211, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .menu--opened .menu__item--active {
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  /* line 217, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .menu__btn {
    display: block;
    align-self: flex-end;
  }
}

/* line 225, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section {
  padding: 40px 0 10px 0px;
  background-color: #ffffff;
  color: #000000;
  font-family: "Roboto Slab", serif;
}

/* line 230, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__container {
  display: flex;
  flex-direction: column;
  width: 91.40625%;
  max-width: 1872px;
  font-size: inherit;
}

/* line 237, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__title {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 30px 10px 20px 0;
}

/* line 243, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__description {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
  padding-bottom: 15px;
}

/* line 249, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__list {
  width: 100%;
  padding: 0;
  margin: 0;
  counter-reset: list 0;
}

/* line 255, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: 400;
  margin: 0;
  padding: 22px 0 25px 0;
  list-style: none;
}

/* line 266, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__item:nth-child(odd) {
  background-color: #f3f3f3;
}

/* line 270, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__item--ordered {
  list-style-type: none;
}

/* line 273, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__item--unordered {
  padding: 14px 0 14px 75px;
}

/* line 276, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__item-title {
  font-weight: 700;
  font-size: 3.6rem;
  margin: 0;
}

/* line 280, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__item-title::before {
  counter-increment: list;
  content: counter(list) ". ";
}

/* line 285, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__item-description {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  padding-left: 95px;
  padding: 25px 0 5px 95px;
}

/* line 293, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__item-description--unordered {
  position: relative;
}

/* line 295, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__item-description--unordered::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -67px;
  width: 30px;
  height: 30px;
  background-color: #000000;
}

/* line 306, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__button {
  margin: 70px 0 67px 0;
}

/* line 309, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__quote-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #06799f;
  color: #ffffff;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.3333;
  padding: 30px 0 30px 0;
}

/* line 321, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__quote {
  margin: 0;
}

/* line 324, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__quote--quoted {
  margin-left: 100px;
  position: relative;
}

/* line 327, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__quote--quoted::before {
  content: "„";
  position: absolute;
  font-size: 186px;
  color: #ffffff;
  font-weight: 700;
  line-height: 0;
  top: -46px;
  left: -98px;
}

/* line 338, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__quote--unquoted {
  padding: 10px 0 10px 0;
  text-align: center;
}

/* line 342, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.listed-section__cite {
  padding-top: 5px;
  font-size: 2.4rem;
  line-height: 1.25;
  text-align: right;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 560px) {
  /* line 225, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .listed-section {
    padding: 5px 0;
  }
  /* line 352, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .listed-section__title {
    margin: 15px 10px 25px 0;
  }
  /* line 355, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .listed-section__description {
    padding-bottom: 10px;
  }
  /* line 358, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .listed-section__item {
    padding: 10px 0 10px 0;
  }
  /* line 361, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .listed-section__item--unordered {
    padding: 40px 10px 15px 10px;
  }
  /* line 364, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .listed-section__item-description {
    padding: 10px;
  }
  /* line 366, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .listed-section__item-description--unordered {
    position: relative;
  }
  /* line 368, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .listed-section__item-description--unordered::before {
    width: 15px;
    height: 15px;
    top: -35px;
    left: 50%;
    transform: rotate(45deg);
  }
  /* line 377, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .listed-section__button {
    margin: 15px 0;
  }
  /* line 380, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .listed-section__quote-block {
    padding: 15px 0;
  }
}

@media screen and (max-width: 425px) {
  /* line 385, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .listed-section__quote--quoted {
    margin-left: 0px;
    text-align: center;
  }
  /* line 388, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .listed-section__quote--quoted::before {
    display: none;
  }
}

/* line 396, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.button {
  display: block;
  background-color: transparent;
  width: 350px;
  padding: 10px 10px 20px 10px;
  box-shadow: 0 5px 8px 2px rgba(0, 0, 1, 0.35);
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  text-decoration: none;
  text-align: center;
  outline: 2px solid #ffffff;
  outline-offset: -2px;
  transition: all 0.3s linear;
  cursor: pointer;
}

/* line 412, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.button:hover {
  background-color: #f2f2f2;
  color: #000000;
  outline-color: #000000;
}

/* line 417, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.button:active {
  background-color: #d9d9d9;
  color: #000000;
  outline-color: #000000;
}

/* line 422, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.button--dark {
  background-color: #06799f;
  color: #ffffff;
  outline-color: #06799f;
}

/* line 427, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.button--bordered {
  background-color: #06799f;
  color: #ffffff;
  border-color: #ffffff;
}

/* line 432, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.button--openMenu, .button--closeMenu {
  font-size: 0;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: transparent;
  outline-color: transparent;
  border: none;
  box-shadow: none;
}

/* line 441, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.button--openMenu:hover, .button--closeMenu:hover {
  background-color: transparent;
  outline-color: transparent;
}

/* line 445, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.button--openMenu:active, .button--closeMenu:active {
  background-color: transparent;
  outline-color: transparent;
}

/* line 451, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.button--openMenu::after {
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 -10px 0 0 #ffffff;
}

/* line 462, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.button--closeMenu::before, .button--closeMenu::after {
  position: absolute;
  content: "";
  display: block;
  width: 35px;
  height: 3px;
  background-color: #ffffff;
}

/* line 470, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.button--closeMenu::before {
  transform: rotate(45deg);
}

/* line 473, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.button--closeMenu::after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 560px) {
  /* line 396, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .button {
    padding: 20px;
    font-size: 5rem;
  }
  /* line 480, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .button--openMenu, .button--closeMenu {
    font-size: 0;
  }
}

@media screen and (max-width: 425px) {
  /* line 396, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .button {
    width: 80%;
  }
}

/* line 489, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.inform-section {
  margin-top: 35px;
}

@media screen and (max-width: 560px) {
  /* line 489, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .inform-section {
    margin-top: 5px;
  }
}

/* line 497, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.inform {
  background-color: #06799f;
  padding: 0 0 75px 0;
}

/* line 500, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.inform__container {
  width: 91.40625%;
  max-width: 1872px;
  display: flex;
  flex-direction: column;
}

/* line 506, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.inform__title {
  width: 100%;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  padding: 15px 5px 15px 5px;
  margin: 20px 10px 20px 0px;
}

/* line 515, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.inform__video {
  align-self: center;
  width: 65.81197%;
  min-height: 430px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/video-BG.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 528, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.inform__link {
  cursor: pointer;
}

/* line 531, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.inform__img {
  width: 169px;
  height: 118px;
}

@media screen and (max-width: 1024px) {
  /* line 497, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .inform {
    padding: 0 0 55px 0;
  }
  /* line 537, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .inform__video {
    min-height: 320px;
  }
}

@media screen and (max-width: 768px) {
  /* line 497, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .inform {
    padding: 0 0 55px 0;
  }
  /* line 543, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .inform__video {
    min-height: 260px;
  }
  /* line 546, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .inform__link {
    cursor: pointer;
  }
  /* line 549, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .inform__img {
    width: 109px;
    height: 76px;
  }
}

@media screen and (max-width: 560px) {
  /* line 497, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .inform {
    padding: 0 0 40px 0;
  }
  /* line 556, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .inform__title {
    padding: 15px 5px 5px 5px;
    margin: 5px 10px 10px 0px;
  }
  /* line 560, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .inform__video {
    width: 90%;
    min-height: 290px;
  }
  /* line 564, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .inform__img {
    width: 149px;
    height: 96px;
  }
}

@media screen and (max-width: 425px) {
  /* line 570, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .inform__video {
    width: 90%;
    min-height: 190px;
  }
  /* line 574, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .inform__img {
    width: 125px;
    height: 87px;
  }
}

/* line 583, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.video-popup--shown {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

/* line 591, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.video-popup--hidden {
  display: none;
}

/* line 594, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.video-popup__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 602, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.video-popup__frame {
  border: none;
  max-width: 90vh;
  max-height: 70vh;
}

/* line 607, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.video-popup__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

@media screen and (max-width: 425px) {
  /* line 613, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .video-popup__close-btn {
    right: -62%;
  }
}

/* line 620, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.story {
  padding: 25px 0 25px 0;
}

/* line 622, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.story__container {
  width: 91.40625%;
  max-width: 1872px;
}

/* line 626, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.story__title {
  margin: 25px 0 20px 0;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2;
}

/* line 632, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.story__paragraph {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.2px;
}

/* line 638, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.story__image {
  max-width: 50%;
  min-width: 40%;
  height: auto;
}

/* line 643, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.story__image--right-orianted {
  float: right;
  margin: 15px 0 5px 30px;
}

/* line 647, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.story__image--left-orianted {
  float: left;
  margin: 15px 30px 5px 0;
}

@media screen and (max-width: 1024px) {
  /* line 652, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .story__paragraph {
    font-size: 2rem;
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  /* line 658, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .story__image--right-orianted {
    margin: 15px 0 5px 10px;
  }
  /* line 661, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .story__image--left-orianted {
    margin: 15px 10px 5px 0;
  }
}

@media screen and (max-width: 560px) {
  /* line 620, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .story {
    padding: 10px 0 10px 0;
  }
  /* line 667, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .story__title {
    margin: 15px 10px 25px 0;
  }
  /* line 670, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .story__paragraph {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 676, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .story__image {
    max-width: 90%;
    height: auto;
  }
  /* line 680, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .story__image--right-orianted {
    float: none;
    margin: 15px;
  }
  /* line 684, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .story__image--left-orianted {
    float: none;
    margin: 15px;
  }
}

/* line 691, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.callback-section {
  margin-bottom: 180px;
}

@media screen and (max-width: 560px) {
  /* line 691, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .callback-section {
    margin-bottom: 20px;
  }
}

/* line 698, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.callback {
  padding: 15px 0 30px 0;
  background-color: #06799f;
  color: #ffffff;
}

/* line 702, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.callback__container {
  display: flex;
  flex-direction: column;
  width: 91.40625%;
  max-width: 1872px;
}

/* line 708, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.callback__title {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  padding: 15px 0 15px 0;
}

/* line 715, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.callback__description {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  padding: 15px 5px 20px 5px;
}

/* line 722, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.callback__button {
  align-self: center;
  margin: 30px 0 30px 0;
}

@media screen and (max-width: 560px) {
  /* line 698, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .callback {
    padding: 15px 0;
  }
  /* line 728, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .callback__description {
    padding: 15px 0;
  }
  /* line 731, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .callback__button {
    margin: 15px 0;
  }
}

/* line 738, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.footer {
  background-color: #06799f;
  padding: 30px 0 30px 0;
}

/* line 741, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.footer__container {
  width: 91.40625%;
  max-width: 1872px;
  display: flex;
  justify-content: space-between;
}

/* line 747, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.footer__translate {
  width: 30%;
}

/* line 750, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.footer__social {
  width: 30%;
}

@media screen and (max-width: 560px) {
  /* line 738, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .footer {
    padding: 15px 0;
  }
  /* line 755, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .footer__container {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  /* line 760, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .footer__translate {
    width: 30%;
    margin: 15px;
  }
  /* line 764, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .footer__social {
    width: 50%;
  }
}

@media screen and (max-width: 425px) {
  /* line 769, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .footer__translate {
    width: 40%;
    margin: 15px;
  }
  /* line 773, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .footer__social {
    width: 60%;
  }
}

/* line 780, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.translate {
  display: flex;
  align-items: center;
}

/* line 783, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.translate__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33333;
}

/* line 797, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.translate__item {
  margin-right: 10px;
  border-bottom: 2px solid #ffffff;
}

/* line 800, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.translate__item:hover {
  border-bottom-color: transparent;
  color: #f2f2f2;
  transition: all 0.3s linear;
}

/* line 805, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.translate__item:active {
  border-bottom-color: transparent;
  color: #000000;
  transition: all 0.3s linear;
}

/* line 810, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.translate__item--active {
  border-bottom-color: transparent;
}

/* line 814, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.translate__link {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 560px) {
  /* line 819, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .translate__list {
    justify-content: space-around;
    font-size: 2.8rem;
  }
}

/* line 827, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.social {
  display: flex;
  align-items: center;
}

/* line 830, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.social__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: 0px;
}

/* line 841, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.social__item {
  margin-right: 15px;
}

/* line 843, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.social__item:last-child {
  margin: 0;
}

/* line 847, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.social__link {
  display: block;
  width: 35px;
  height: 35px;
}

/* line 852, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.social__fb, .social__tg, .social__in {
  fill: #ffffff;
}

/* line 855, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
.social__link:hover .social__fb,
.social__link:hover .social__tg,
.social__link:hover .social__in {
  transition: all 0.3s linear;
  fill: #000000;
}

@media screen and (max-width: 560px) {
  /* line 827, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .social {
    display: flex;
  }
  /* line 863, E:/Hillel/Portfolio/ready/cyber/cyber/sass/style.scss */
  .social__list {
    justify-content: space-around;
  }
}

/*# sourceMappingURL=../css/style.map */